.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  width: auto;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card span.latest-update[tuiSubtitle] {
  color: #99a09b;
}

.thermometer {
  background: #ff7043;
  color: #fff;
}

.droplet {
  background: #26c6da;
  color: #fff;
}

.gauge {
  background: #546e7a;
  color: #fff;
}
