<h2>Latest measures</h2>
<tui-tiles class="tiles" [debounce]="500" [(order)]="order">
  @for (item of items; track index; let index = $index) {
    <tui-tile class="tile" [height]="item.h" [style.order]="order.get(index)" [width]="item.w">
      @if (item?.isChart) {
      } @else {}
      <div class="content">
        <div class="title-container">
          @if (item?.icon) {
            <tui-icon [icon]="item?.icon || 'null'" class="custom-icon"></tui-icon>
          }
          <h3 class="title">{{ item.content }}</h3>
          @if (item?.isChart) {
            i am a chart
          }
        </div>
        <tui-icon icon="@tui.grip-vertical" tuiTileHandle class="handle" />
      </div>
    </tui-tile>
  }
</tui-tiles>
