<div class="register">
  <header class="header">
    <div class="logo-container">
      <img
        ngSrc="/images/logo/agribus.png"
        alt="Logo d'Agribus"
        width="100"
        height="100"
        priority />
    </div>
    <h3 tuiTitle class="page-title">
      {{ "pages.register.title" | translate }}
    </h3>
    <span class="page-subtitle">
      {{ "pages.register.subtitle" | translate }}
    </span>
  </header>

  <app-register-form></app-register-form>

  <footer class="footer">
    <p class="already-account">
      {{ "pages.register.already-account" | translate }}
      <a href="./login" class="link">{{ "pages.register.sign-in" | translate }}</a>
    </p>
  </footer>
</div>
