<div class="unsupported-platform">
  <img [ngSrc]="'/images/logo/logo.png'" alt="Logo Agribus" width="200" height="200" priority />

  <h1 class="unsupported-platform__title">
    {{ "pages.unsupported-platform.title" | translate }} 📱
  </h1>

  <p class="unsupported-platform__description">
    {{ "pages.unsupported-platform.description" | translate }}
  </p>

  <p class="unsupported-platform__progress">
    {{ "pages.unsupported-platform.progress" | translate }}
    <a
      href="https://github.com/agribus/agribus/issues"
      target="_blank"
      rel="noopener noreferrer"
      class="unsupported-platform__link">
      {{ "pages.unsupported-platform.here" | translate }}
    </a>
  </p>

  <div class="unsupported-platform__stores">
    <a
      href="https://play.google.com/store/apps/details?id=com.yourapp"
      target="_blank"
      rel="noopener noreferrer">
      <img
        [src]="'/images/badges/google/GetItOnGooglePlay_Badge_Web_color_' + imageLang() + '.png'"
        alt="Get it on Google Play"
        class="unsupported-platform__badge" />
    </a>

    <a href="https://apps.apple.com/app/id000000000" target="_blank" rel="noopener noreferrer">
      <img
        [src]="'/images/badges/apple/Download_on_the_App_Store_Badge_' + imageLang() + '.svg'"
        alt="Download on the App Store"
        class="unsupported-platform__badge" />
    </a>
  </div>
</div>
