<div class="desktop-info-container">
  <img src="logo.png" alt="Agribus Logo" class="app-logo" />

  <h1>{{ "pages.unsupported-platform.title" | translate }} 📱</h1>

  <p>
    {{ "pages.unsupported-platform.description" | translate }}
  </p>
  <p>
    {{ "pages.unsupported-platform.progress" | translate }}
    <a href="https://github.com/agribus/agribus/issues" target="_blank">
      {{ "pages.unsupported-platform.here" | translate }}
    </a>
  </p>

  <div class="store-buttons">
    <a href="https://play.google.com/store/apps/details?id=com.yourapp" target="_blank">
      <img
        [ngSrc]="'/images/badges/google/GetItOnGooglePlay_Badge_Web_color_' + imageLang() + '.png'"
        alt="Get it on Google Play"
        width="200"
        height="60" />
    </a>

    <a href="https://apps.apple.com/app/id000000000" target="_blank">
      <img
        [ngSrc]="'/images/badges/apple/Download_on_the_App_Store_Badge_' + imageLang() + '.svg'"
        alt="Download on the App Store"
        width="200"
        height="60" />
    </a>
  </div>
</div>
