@if (isMobile) {
  @if (headerType === HeaderType.Default) {
    <tui-app-bar class="header">
      <img
        [ngSrc]="darkMode() ? '/assets/logo/logo-dark.svg' : '/assets/logo/logo-light.png'"
        tuiSlot="left"
        alt="Agribus"
        height="56"
        width="56"
        priority />

      @if (userHaveGreenhouse) {
        <tui-textfield
          tuiSlot="center"
          tuiChevron
          tuiDropdownAlign="center"
          tuiDropdownLimitWidth="auto"
          [tuiTextfieldCleaner]="false"
          [tuiTextfieldAppearance]="'none'"
          [style.width.rem]="maxLengthGreenhouse + 1.5">
          <input tuiSelect [(ngModel)]="value" (ngModelChange)="onGreenhouseChange($event)" />
          <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="greenhouses" />
        </tui-textfield>
      }

      @if (showDevTools) {
        <button
          iconStart="@tui.square-code"
          title="Dev Tools"
          tuiIconButton
          tuiSlot="right"
          type="button"
          (click)="openDevTools()"></button>
      }

      <button
        iconStart="@tui.house-plus"
        title="Create Greenhouse"
        tuiIconButton
        tuiSlot="right"
        type="button"
        (click)="gotoPage('greenhouse/create')"></button>

      <button
        iconStart="@tui.bell"
        title="Notifications"
        tuiIconButton
        tuiSlot="right"
        type="button"
        (click)="gotoPage('settings')"></button>
    </tui-app-bar>
  } @else if (headerType === HeaderType.Settings) {
    <tui-app-bar class="header">
      <button title="Back" tuiAppBarBack tuiSlot="left" type="button" (click)="back()"></button>

      <h3 tuiSlot="center">
        @if (url === "/settings-account") {
          {{ "pages.settings-account.title" | translate }}
        } @else if (url === "/greenhouse/settings") {
          {{ "pages.greenhouse-settings.title" | translate }}
        } @else if (url === "/greenhouse/create") {
          {{ "pages.greenhouse-create.title" | translate }}
        } @else {
          {{ "pages.settings.title" | translate }}
        }
      </h3>
      @if (showDevTools) {
        <button
          iconStart="@tui.square-code"
          title="Notifications"
          tuiIconButton
          tuiSlot="right"
          type="button"
          (click)="openDevTools()"></button>
      }
    </tui-app-bar>
  } @else if (headerType === HeaderType.None) {
    @if (showDevTools) {
      <tui-app-bar class="header">
        <button
          iconStart="@tui.square-code"
          title="Notifications"
          tuiIconButton
          tuiSlot="right"
          type="button"
          (click)="openDevTools()"></button>
      </tui-app-bar>
    }
  }
}
