[tuiAppearance][data-focus="true"] {
  outline: none;
}

[tuiSlot="left"] {
  display: flex;
  align-items: center;
}

tui-textfield {
  max-width: 200px;
  align-self: center;
}

input,
input:focus {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  height: 56px;
}

.logo {
  padding: 12px;
}
