<div class="dashboard-container">
  <h2>{{ "shared.dashboard.title-section.latest-measures" | translate }}</h2>

  <div class="latest-measures-container">
    <div class="data-container">
      @for (metric of metrics | keyvalue; track metric.key) {
        <div class="card" tuiAppearance="neutral" tuiCardMedium>
          <tui-icon [icon]="getIcon(metric.key)" />
          <h2 tuiTitle>{{ "pages.dashboard.title.measurements." + metric.key | translate }}</h2>
          <span class="data-text">{{ metric.value.value }} {{ metric.value.unit }}</span>
          <span tuiSubtitle class="latest-update">
            {{ metric.value.timestamp | date: "dd/MM/yyyy HH:mm" }}
          </span>
        </div>
      }

      @for (sensor of sensors; track sensor.sourceAddress) {
        <div class="card" tuiAppearance="neutral" tuiCardMedium>
          <h2 tuiTitle>{{ sensor.name }}</h2>
          <div class="sensor-metrics">
            <span class="data-text">
              {{ Math.round(sensor.last.temperature.value) }} {{ sensor.last.temperature.unit }}
            </span>
            <span class="data-text">
              {{ Math.round(sensor.last.humidity.value) }} {{ sensor.last.humidity.unit }}
            </span>
            <span class="data-text">
              {{ Math.round(sensor.last.pressure.value) }} {{ sensor.last.pressure.unit }}
            </span>
          </div>
          <span tuiSubtitle class="latest-update">
            {{ sensor.last.timestamp | date: "dd/MM/yyyy HH:mm" }}
          </span>
        </div>
      }
    </div>

    <h2>{{ "shared.dashboard.title-section.latest-alerts" | translate }}</h2>

    <div class="alerts-container">
      @for (alert of alerts; track alert.id) {
        <div class="card" tuiAppearance="neutral" tuiCardMedium>
          <tui-badge [appearance]="badgeAppearance[alert.type]" tuiStatus>
            {{ badgeLabel[alert.type] }}
          </tui-badge>

          <h2 tuiTitle>
            {{ alert.title }}
            @if (alert.description) {
              <span tuiSubtitle class="informative-alert">{{ alert.description }}</span>
            }
            <span tuiSubtitle class="latest-update">{{ alert.last_update }}</span>
          </h2>
        </div>
      }
    </div>

    <h2>{{ "shared.dashboard.title-section.charts" | translate }}</h2>
    <div class="charts-container">
      <button
        class="calendar-button"
        appearance="secondary"
        iconStart="@tui.calendar"
        tuiIconButton
        type="button"
        (click)="onClick()"></button>
      <span>{{ date$ | async }}</span>

      <app-chart-dashboard
        title="{{ 'shared.dashboard.calendar.title.temperature' | translate }}"
        [data]="temperatureData$ | async"
        [range]="selectedRange"
        [unit]="(tempMeta$ | async)?.unit || '°C'"
        [yMin]="(tempMeta$ | async)?.yMin ?? 0"
        [yMax]="(tempMeta$ | async)?.yMax ?? 50"></app-chart-dashboard>

      <app-chart-dashboard
        title="{{ 'shared.dashboard.calendar.title.humidity' | translate }}"
        [data]="humidityData$ | async"
        [range]="selectedRange"
        [unit]="(humMeta$ | async)?.unit || '%'"
        [yMin]="(humMeta$ | async)?.yMin ?? 0"
        [yMax]="(humMeta$ | async)?.yMax ?? 100"></app-chart-dashboard>

      <app-chart-dashboard
        title="{{ 'shared.dashboard.calendar.title.air-pressure' | translate }}"
        [data]="pressureData$ | async"
        [range]="selectedRange"
        [unit]="(presMeta$ | async)?.unit || 'hPa'"
        [yMin]="(presMeta$ | async)?.yMin ?? 950"
        [yMax]="(presMeta$ | async)?.yMax ?? 1050"></app-chart-dashboard>
    </div>
  </div>
</div>
