<form class="form-block" [formGroup]="form">
  <div class="form-input-container">
    <div class="input-container">
      <label for="username" tuiLabel>{{ "shared.nickname.label" | translate }}</label>
      <tui-textfield>
        <input
          id="username"
          class="form-input"
          formControlName="username"
          placeholder="{{ 'shared.nickname.placeholder' | translate }}"
          type="text"
          tuiTextfield />
      </tui-textfield>

      <tui-error formControlName="username" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="input-container">
      <label for="email" tuiLabel>{{ "shared.email.label" | translate }}</label>
      <tui-textfield>
        <input
          id="email"
          class="form-input"
          formControlName="email"
          placeholder="{{ 'shared.email.placeholder' | translate }}"
          type="text"
          tuiTextfield />
      </tui-textfield>

      <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="input-container">
      <label tuiLabel for="password">{{ "shared.password.label" | translate }}</label>
      <tui-textfield>
        <input
          id="password"
          class="form-input"
          formControlName="password"
          placeholder="********"
          type="password"
          tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>

      <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="input-container">
      <label tuiLabel for="confirm-password">
        {{ "shared.password.confirm" | translate }}
      </label>
      <tui-textfield>
        <input
          id="confirm-password"
          class="form-input"
          formControlName="confirmPassword"
          placeholder="********"
          type="password"
          tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>

      <tui-error formControlName="confirmPassword" [error]="[] | tuiFieldError | async" />
      <tui-error [error]="passwordError" />
    </div>

    <button class="button" tuiButton (click)="onSubmit($event)">
      {{ "shared.buttons.register" | translate }}
    </button>
  </div>
</form>
