<div class="page-container">
  <tui-stepper [activeItemIndex]="step()">
    <button tuiStep type="button" [disabled]="true">
      {{ "components.greenhouse-form.step.details" | translate }}
    </button>
    <button tuiStep type="button" [disabled]="true">
      {{ "components.greenhouse-form.step.crops" | translate }}
    </button>
    <button tuiStep type="button" [disabled]="true">
      {{ "components.greenhouse-form.step.sensors" | translate }}
    </button>
  </tui-stepper>

  @switch (step()) {
    @case (0) {
      <ng-container>
        <form [formGroup]="step0">
          <tui-textfield>
            <label tuiLabel for="name">Nom de la serre</label>
            <input formControlName="name" tuiTextfield placeholder="Serre 1" />
          </tui-textfield>

          <!--          <app-location-selector formControlName="location" />-->

          <footer style="display: flex; justify-content: flex-end">
            <button tuiButton appearance="primary" (click)="next()">
              {{ "components.ui.button.next" | translate }}
            </button>
          </footer>
        </form>
      </ng-container>
    }
    @case (1) {
      <ng-container>
        <form [formGroup]="step1">
          <footer>
            <button tuiButton appearance="primary" (click)="previous()">
              {{ "components.ui.button.return" | translate }}
            </button>
            <button tuiButton appearance="primary" (click)="next()">
              {{ "components.ui.button.next" | translate }}
            </button>
          </footer>
        </form>
      </ng-container>
    }
    @case (2) {
      <ng-container>
        <form [formGroup]="greenhouseForm">
          <div class="sensor-button-group">
            <button
              tuiButton
              type="button"
              appearance="primary"
              class="compact-button"
              (click)="openScanQrCode(content, header, 'fullscreen')">
              <tui-icon icon="@tui.camera" [style.height.rem]="1" />
            </button>

            <button
              tuiButton
              type="button"
              appearance="primary"
              class="compact-button"
              (click)="manualAddSensor()">
              <tui-icon icon="@tui.keyboard" [style.height.rem]="1" />
            </button>
          </div>
          <div class="sensor-section-header">
            <div tuiSubtitle class="sensor-subtitle">
              Vous pouvez scanner le QR Code ou saisir l'identifiant manuellement.
            </div>
          </div>
          <ul>
            @for (sensor of sensors; track $index) {
              <li>
                <tui-swipe-actions [style.--tui-item-size.px]="40" [style.--tui-action-gap]="10">
                  <div tuiAppearance="floating" tuiCardLarge tuiCell>
                    <tui-avatar appearance="primary" [src]="'@tui.cpu'" />
                    <div tuiTitle>
                      <strong>{{ sensor.sourceAddress }}</strong>
                      <div tuiSubtitle>{{ sensor.name }}</div>
                    </div>
                  </div>
                  <button
                    iconStart="@tui.pencil-line"
                    size="m"
                    tuiIconButton
                    tuiSwipeAction
                    (click)="onEdit(sensor)">
                    Edit
                  </button>

                  <button
                    appearance="secondary-destructive"
                    iconStart="@tui.trash"
                    size="m"
                    tuiIconButton
                    tuiSwipeAction
                    type="button"
                    (click)="removeCapteur($index)">
                    Delete
                  </button>
                </tui-swipe-actions>
              </li>
            }
          </ul>

          <footer>
            <button tuiButton appearance="primary" (click)="previous()">
              {{ "components.ui.button.return" | translate }}
            </button>
            <button
              tuiButton
              appearance="primary"
              (click)="next()"
              [disabled]="!isCurrentStepValid()">
              {{ "components.ui.button.next" | translate }}
            </button>
          </footer>
        </form>
      </ng-container>
    }
  }
  <ng-template #content>
    <app-scan-qr-code [formGroup]="step2" />
  </ng-template>

  <ng-template #header>
    <p>{{ "components.greenhouse-form.dialog.title" | translate }}</p>
  </ng-template>
</div>
