@if (isError) {
  <tui-notification style="margin-bottom: 1rem" size="l" appearance="negative">
    {{ messageError }}
  </tui-notification>
}
<form class="form-block" [formGroup]="form">
  <div class="form-input-container">
    <div class="input-container">
      <label for="email" tuiLabel>{{ "shared.email.label" | translate }}</label>

      <tui-textfield>
        <input
          class="form-input"
          formControlName="email"
          placeholder="{{ 'shared.email.placeholder' | translate }}"
          type="text"
          tuiTextfield />
      </tui-textfield>

      <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="input-container">
      <div class="password-label-container">
        <label tuiLabel for="password">{{ "shared.password.label" | translate }}</label>
        <a href="/forgot-password" class="link">
          {{ "shared.password.forgot" | translate }}
        </a>
      </div>

      <tui-textfield>
        <input
          class="form-input"
          formControlName="password"
          placeholder="********"
          type="password"
          tuiTextfield />
      </tui-textfield>

      <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />
    </div>
  </div>

  <button class="button" tuiButton (click)="onSubmit($event)">
    {{ "shared.buttons.connection" | translate }}
  </button>
</form>
