<div class="forgot-password">
  <header class="header">
    <div class="logo-container">
      <img
        ngSrc="/images/logo/agribus.png"
        alt="Logo d'Agribus"
        width="100"
        height="100"
        priority />
    </div>

    <h3 tuiTitle class="page-title">
      {{ "pages.forgot-password.title" | translate }}
    </h3>

    <span class="page-subtitle">
      {{ "pages.forgot-password.subtitle" | translate }}
    </span>
  </header>

  <app-forgot-password-form></app-forgot-password-form>

  <footer class="footer">
    <a href="/login" class="link">{{ "pages.forgot-password.connection-page" | translate }}</a>
  </footer>
</div>
