<form class="form-block" [formGroup]="form">
  <div class="form-input-container">
    <div class="input-container">
      <label for="email" tuiLabel>{{ "components.forgot-password-form.email" | translate }}</label>
      <tui-textfield>
        <input
          class="form-input"
          formControlName="email"
          placeholder="{{ 'components.forgot-password-form.email-placeholder' | translate }}"
          type="text"
          tuiTextfield />
      </tui-textfield>

      <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />
    </div>
  </div>

  <button class="button" tuiButton (click)="onSubmit($event)">
    {{ "components.forgot-password-form.send" | translate }}
  </button>
</form>
