<tui-action-bar *tuiActionBar="openDevTools" size="s">
  @if (isNativePlatform) {
    <button iconStart="@tui.brush-cleaning" tuiIconButton type="button" (click)="clear()"></button>

    @if (logs().length) {
      <div class="log-panel">
        @for (log of logs(); track $index) {
          <div>{{ log }}</div>
        }
      </div>
    }
  }

  <button tuiButton appearance="primary" size="s" (click)="useLanguage('en')">en</button>
  <button tuiButton appearance="accent" size="s" (click)="useLanguage('fr')">fr</button>
  <button tuiButton appearance="neutral" size="s" (click)="useLanguage('de')">de</button>
  <button iconStart="@tui.navigation" tuiIconButton type="button" (click)="openRouteDialog()">
    Route dialog
  </button>
  <button iconStart="@tui.x" tuiIconButton type="button" (click)="closeDevTools(false)">
    Close
  </button>
</tui-action-bar>
