.canvas-container {
  width: 100%;
  height: calc(100vh - 56px);
  overflow: hidden;
  position: relative;
}

button {
  position: absolute;
  top: 70px; // hauteur du header 56 + marge 14
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.css-2d-renderer {
  position: absolute;
  top: 0;
  pointer-events: none;
}
