<ng-template [tuiSheetDialogOptions]="optionsSheet()" [(tuiSheetDialog)]="openSheet">
  <div>
    @if (loading()) {
      <tui-loader size="l"></tui-loader>
    }
    @if (!loading() && !crops().length) {
      <p>{{ "components.crops.crop-selector.noItemsAvailable" | translate }}</p>
    }
    @if (!loading() && crops().length) {
      @for (crop of crops(); track $index) {
        <div class="crop-selector">
          <div class="scientific-name">
            <tui-textfield tuiChevron>
              <label for="scientificName{{ $index }}" class="label">
                {{ "components.ui.fields.scientificName" | translate }}
              </label>
              <input tuiSelect [(ngModel)]="crop.scientificName" disabled />
            </tui-textfield>
          </div>

          <div class="common-name">
            <tui-textfield tuiChevron>
              <label for="commonName{{ $index }}" class="label">
                {{ "components.ui.fields.commonName" | translate }}
              </label>
              <input tuiSelect [(ngModel)]="crop.commonName" />
              <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="crop.commonNames" />
            </tui-textfield>
          </div>

          <label tuiProgressLabel class="label-wrapper">
            {{ crop.score * 100 | number: "1.0-0" }}%
            <progress size="l" max="100" tuiProgressBar [value]="crop.score * 100"></progress>
          </label>

          <tui-textfield>
            <label tuiLabel>{{ "components.ui.fields.enterQuantity" | translate }}</label>
            <input tuiInputNumber [(ngModel)]="crop.quantity" [min]="0" [step]="1" />
          </tui-textfield>

          <button tuiButton appearance="primary" size="m" (click)="selectCrop(crop)">
            {{ "components.crops.crop-selector.selectCrop" | translate }}
          </button>
        </div>
      }
    }
  </div>
</ng-template>
