<ng-template [tuiSheetDialogOptions]="optionsSheet()" [(tuiSheetDialog)]="openSheet">
  <div>
    @if (loading()) {
      <tui-loader size="l"></tui-loader>
    }
    @if (!loading() && !crops().length) {
      <p>{{ "shared.crops.noCropsAvailable" | translate }}</p>
    }
    @if (!loading() && crops().length) {
      @for (crop of crops(); track $index) {
        <div class="crop-selector">
          <div class="scientific-name">
            <tui-textfield tuiChevron>
              <label for="scientificName{{ $index }}" class="label">
                {{ "shared.crops.scientificName" | translate }}
              </label>
              <input
                id="scientificName{{ $index }}"
                tuiSelect
                [(ngModel)]="crop.scientificName"
                disabled />
            </tui-textfield>
          </div>

          <div class="common-name">
            <tui-textfield tuiChevron>
              <label for="commonName{{ $index }}" class="label">
                {{ "shared.crops.commonName" | translate }}
              </label>
              <input id="commonName{{ $index }}" tuiSelect [(ngModel)]="crop.commonName" />
              <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="crop.commonNames" />
            </tui-textfield>
          </div>

          <label tuiProgressLabel class="label-wrapper">
            {{ crop.score * 100 | number: "1.0-0" }}%
            <progress size="l" max="100" tuiProgressBar [value]="crop.score * 100"></progress>
          </label>

          <tui-textfield>
            <label tuiLabel for="quantity{{ $index }}">
              {{ "shared.crops.enterQuantity" | translate }}
            </label>
            <input tuiInputNumber [(ngModel)]="crop.quantity" [min]="0" [step]="1" />
          </tui-textfield>

          <button tuiButton appearance="primary" size="m" (click)="selectCrop(crop)">
            {{ "shared.buttons.selectCrop" | translate }}
          </button>
        </div>
      }
    }
  </div>
</ng-template>
