<form [formGroup]="form" (ngSubmit)="save()">
  <tui-textfield>
    <label tuiLabel>
      {{ "components.greenhouse.edit-sensor-dialog.label.sensor-name" | translate }}
    </label>
    <input tuiTextfield formControlName="name" />
  </tui-textfield>

  <tui-textfield class="mt-4">
    <label tuiLabel>
      {{ "components.greenhouse.edit-sensor-dialog.label.sensor-sourceAddress" | translate }}
    </label>
    <input tuiTextfield formControlName="sourceAddress" />
  </tui-textfield>

  <div class="footer">
    <button tuiButton appearance="primary" type="submit" [disabled]="form.invalid">
      {{ "components.ui.button.submit" | translate }}
    </button>
  </div>
</form>
