<form class="form-block" tuiCardLarge [formGroup]="form">
  <div class="logo-div">
    <img ngSrc="/images/logo/agribus.png" alt="Logo d'Agribus" width="56" height="56" />
  </div>
  <header tuiHeader class="header">
    <h3 tuiTitle class="page-title">
      {{ "components.forgot-password.title" | translate }}
      <span tuiSubtitle class="page-subtitle">
        {{ "components.forgot-password.subtitle" | translate }}
      </span>
    </h3>
  </header>

  <div class="form-input-div">
    <div class="input-div">
      <label for="email" tuiLabel>{{ "components.forgot-password.email" | translate }}</label>
      <tui-textfield>
        <input
          class="form-input"
          formControlName="email"
          placeholder="{{ 'components.forgot-password.email-placeholder' | translate }}"
          type="text"
          tuiTextfield />
      </tui-textfield>

      <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />
    </div>
  </div>

  <footer class="footer">
    <button class="button" tuiButton (click)="onSubmit($event)">
      {{ "components.forgot-password.send" | translate }}
    </button>
    <a href="/login" class="link">{{ "components.forgot-password.connection-page" | translate }}</a>
  </footer>
</form>
