@media screen {
  /* Dark theme */
  [tuiTheme="dark"] {
    color-scheme: dark;

    --tui-text-action: #44c596;

    --tui-background-accent-1: #44c596;
  }

  /* Default theme */
  :root,
  :host,
  [tuiTheme="light"] {
    color-scheme: light;

    --tui-text-primary: #374141;
    --tui-text-secondary: #99a09b;
    --tui-text-action: #065132;

    --tui-background-accent-1: #065132;
  }
}

.app-layout {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1024px) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 960px;
  }
}
