<tui-action-bar *tuiActionBar="openDevTools" size="s">
  <button tuiButton appearance="primary" size="s" (click)="useLanguage('en')">en</button>
  <button tuiButton appearance="accent" size="s" (click)="useLanguage('fr')">fr</button>
  <button tuiButton appearance="neutral" size="s" (click)="useLanguage('de')">de</button>

  @if (isMobile) {
    <button iconStart="@tui.brush-cleaning" tuiIconButton type="button" (click)="clear()"></button>

    <div class="log-panel">
      @for (log of logs(); track $index) {
        <div>{{ log }}</div>
      }
    </div>
  }
  <button iconStart="@tui.x" tuiIconButton type="button" (click)="closeDevTools(false)">
    Close
  </button>
</tui-action-bar>
