<form class="form-block" [formGroup]="form">
  <div class="form-input-container">
    <div class="input-container">
      <label for="currentPassword" tuiLabel>
        {{ "pages.password-change.current-password" | translate }}
      </label>

      <tui-textfield>
        <input
          class="form-input"
          autocapitalize="off"
          formControlName="currentPassword"
          placeholder="********"
          type="password"
          tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>

      <tui-error formControlName="currentPassword" [error]="[] | tuiFieldError | async" />
    </div>
  </div>

  <div class="form-input-container">
    <div class="input-container">
      <label for="newPassword" tuiLabel>
        {{ "pages.password-change.new-password" | translate }}
      </label>
      <tui-textfield>
        <input
          class="form-input"
          autocapitalize="off"
          formControlName="newPassword"
          placeholder="********"
          type="password"
          tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>

      <tui-error formControlName="newPassword" [error]="[] | tuiFieldError | async" />
    </div>
  </div>

  <div class="form-input-container">
    <div class="input-container">
      <label for="confirmNewPassword" tuiLabel>
        {{ "pages.password-change.confirm-new-password" | translate }}
      </label>

      <tui-textfield>
        <input
          class="form-input"
          autocapitalize="off"
          formControlName="confirmNewPassword"
          placeholder="********"
          type="password"
          tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>

      <tui-error formControlName="confirmNewPassword" [error]="[] | tuiFieldError | async" />
    </div>
  </div>

  <button class="button" tuiButton (click)="onSubmit($event)">
    {{ "pages.password-change.save" | translate }}
  </button>
</form>
